body {
  font-family: Risque;
}

/* html,
body,
#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.pages {
  height: 100vh;
}

/* =====================Slider======================= */

.slider {
	background: red;
}

h3 {
	text-align: center;
	padding-top: 20px;
	zoom: 2;
}

/* =====================Story======================== */
.emotion2Img {
	height: 300px;
}
